{#
/**
 * @file
 * Default theme implementation for the APR Profile pseudo-fields.
 *
 * Available variables
 * - data: Array of presentation information from present[] array.
 */
#}

{% if data is not empty %}

<div class="field field-name-apr-profile-present"{{ attributes }}>
  <h2 class="field-header">Selected Presentations</h2>
  <ul class="field-items">
    {% for key, item in data %}
      <li class="field-item {{ loop.index is odd ? 'odd' : 'even' }}">
        {% if item.formatted is not empty %}
          {{ item.formatted|raw }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>

{% endif %}
