{#
/**
 * @file
 * Default theme implementation for the APR Profile pseudo-fields.
 *
 * Available variables
 * - data: Array of research narrative information from pci.info.research_narrative.
 */
#}

{% if data is not empty %}

<div class="field field-name-apr-profile-research-narrative"{{ attributes }}>
  <div class="field-label">Research Narrative</div>
  <div class="field-items">
    {% for key, item in data %}
      <div class="field-item {{ loop.index is odd ? 'odd' : 'even' }}">
        {{ item|raw }}
      </div>
    {% endfor %}
  </div>
</div>

{% endif %}
