{#
/**
 * @file
 * Default theme implementation for the APR Profile pseudo-fields.
 *
 * Available variables
 * - data: Array of post-graduate education information from education_postgrad[] array.
 */
#}

{% if data is not empty %}

<div class="field field-name-apr-profile-education-postgrad"{{ attributes }}>
  <h2 class="field-header">Education (Post Graduate)</h2>
  <ul class="field-items">
    {% for key, item in data %}
      <li class="field-item {{ loop.index is odd ? 'odd' : 'even' }}">
        {% set output = '' %}
        {% if (item.deg is not empty) and (item.deg != 'Other') %}
          {% set output = output ~ item.deg %}
        {% elseif item.desc is not empty %}
          {% set output = output ~ item.desc %}
        {% endif %}
        {% if item.major is not empty %}
          {% set output = output ~ ' in ' ~ item.major %}
        {% endif %}
        {% if item.school is not empty %}
          {% set output = output ~ ', ' ~ item.school %}
        {% endif %}
        {% if item.city is not empty %}
          {% set output = output ~ ', ' ~ item.city %}
        {% endif %}
        {% if item.state is not empty %}
          {% set output = output ~ ', ' ~ item.state %}
        {% endif %}
        {% if item.country is not empty %}
          {% set output = output ~ ', ' ~ item.country %}
        {% endif %}
        {% if item.start_date is not empty %}
          {% set output = output ~ ', ' ~ item.start_date|date("Y") %}
          {% if (item.end_date is not empty) and (item.start_date|date("Y") != item.end_date|date("Y")) %}
            {% set output = output ~ ' - ' ~ item.end_date|date("Y") %}
          {% endif %}
        {% elseif item.end_date is not empty %}
          {% set output = output ~ ', ' ~ item.end_date|date("Y") %}
        {% endif %}
        {{ output }}
      </li>
    {% endfor %}
  </ul>
</div>

{% endif %}
